.button {
  border: 0;
  border-radius: var(--space-xs);
  font-family: inherit;
  padding: var(--space-sm);
  text-align: center;
  font-weight: 700;
}


.button--tipButton {
  flex: 1 1 130px;
  background-color: var(--very-dark-cyan);
  color: var(--white);
  font-size: var(--text-md);
  transition: all 200ms;
}


.button--reset {
  background-color: var(--white);
  opacity: 0.2;
  color: var(--very-dark-cyan);
  width: 100%;
  font-size: var(--text-sm);
  margin-top: var(--space-md);
  transition: all 200ms;
}


.button--enabled {
  background-color: var(--strong-cyan) !important;
  color: var(--very-dark-cyan) !important;
  opacity: 1 !important;
  cursor: pointer !important;
}



@media (hover:hover) {
  
  .button--reset:hover {
    background-color: var(--light-grayish-cyan-1);
    color: var(--very-dark-cyan);
    cursor: not-allowed;
  }

  .button--reset--enabled:hover {
    cursor: pointer;
  }

  .button--tipButton:hover {
    background-color: var(--light-grayish-cyan-1);
    color: var(--very-dark-cyan);
  }

}
