.inputArea__input {
  border: none;
  background-color: var(--light-grayish-cyan-2);
  border-radius: var(--space-xs);
  width: 100%;
  height: var(--space-lg);
  font-family: inherit;
  padding: var(--space-sm);
  font-size: var(--text-md);
  font-weight: 700;
  color: var(--very-dark-cyan);
  text-align: right;
  -moz-appearance: textfield;
  margin: 0;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}


input:focus {
  outline: 3px solid var(--strong-cyan);
  background-color: var(--light-grayish-cyan-2);
  transition: all 200ms;
}


input::placeholder {
  opacity: 0.2;
}


.input--warning {
  outline: 3px solid var(--orange-warning);
}


.inputArea__icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: var(--space-sm);
}


.tipButtons__input {
  flex: 1 1 130px;
  background-color: var(--light-grayish-cyan-2);
  color: var(--very-dark-cyan);
  width: inherit;
  min-width: 0;
  font-size: var(--text-md);
  transition: all 200ms;
}
