main {
  padding-bottom: var(--space-xl);
}

h1 {
  color: var(--very-dark-cyan);
  text-align: center;
  letter-spacing: var(--space-sm);
  padding: var(--space-lg);
  font-size: var(--text-lg);
}

.card {
  background-color: var(--white);
  border-radius: var(--space-md);
  padding: var(--space-md-plus);
  max-width: 768px;
  margin: auto;
  box-shadow: 0 10px 10px  hsla(172, 67%, 45%, 0.3);
}

.general-h2 {
  color: var(--very-dark-cyan);
  font-size: var(--text-xs);
  opacity: 0.8;
  margin-bottom: var(--space-xs);
}

.input__field {
  position: relative;
}

.input {
  border: none;
  background-color: var(--light-grayish-cyan-2);
  border-radius: var(--space-xs);
  width: 100%;
  height: var(--space-lg);
  font-family: inherit;
  padding: var(--space-sm);
  font-size: var(--text-md);
  font-weight: 700;
  color: var(--very-dark-cyan);
  text-align: right;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.input__warning-info {
  display: inline-block;
  opacity: 1;
  width: 100%;
  text-align: right;
  color: var(--orange-warning);
  transition: all 200ms;
  position: absolute;
}


.bill .input__warning-info,
.number-of-people .input__warning-info {
  top: 55px;
}


.select-tip .input__warning-info {
  margin-top: 5px;
}


input:focus {
  outline: 3px solid var(--strong-cyan);
  background-color: var(--light-grayish-cyan-2);
  transition: all 200ms;
}

.input__warning-outline {
  outline: 3px solid var(--orange-warning);
}

input::placeholder {
  opacity: 0.2;
}

.input__icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: var(--space-sm);
}

.subcard {
  position: relative;
  margin-bottom: var(--space-xl);
}



.tip-buttons {
  display: flex;
  gap: var(--space-md);
  flex-wrap: wrap;
}

.button {
  border: 0;
  border-radius: var(--space-xs);
  font-family: inherit;
  padding: var(--space-sm);
  text-align: center;
  font-weight: 700;
}



.button--tip-percentage {
  flex: 1 1 130px;
  background-color: var(--very-dark-cyan);
  color: var(--white);
  font-size: var(--text-md);
  transition: all 200ms;
}

.button--tip-custom {
  flex: 1 1 130px;
  background-color: var(--light-grayish-cyan-2);
  color: var(--very-dark-cyan);
  width: inherit;
  min-width: 0;
  font-size: var(--text-md);
  transition: all 200ms;
}

.button--tip-percentage--enabled {
  background-color: var(--strong-cyan) !important;
  color: var(--very-dark-cyan) !important;
}


.button--reset {
  background-color: var(--white);
  opacity: 0.2;
  color: var(--very-dark-cyan);
  width: 100%;
  font-size: var(--text-sm);
  margin-top: var(--space-md);
  transition: all 200ms;
}






.button--reset--enabled {
  background-color: var(--strong-cyan);
  opacity: 1;
}



.summary {
  background-color: var(--very-dark-cyan);
  border-radius: var(--space-sm);
  padding: var(--space-md);
  display: flex;
  flex-direction: column;
}

.summary__card-set {
  margin: var(--space-sm) 0;
}

.summary__card {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--space-md);
  gap: var(--space-md);
}

.summary__h2 {
  color: var(--white);
  opacity: 1;
  margin-bottom: 0;
}

.summary__p {
  color: var(--white);
  font-size: var(--text-xxs);
  font-weight: 700;
  opacity: 0.5;
}

.summary__result {
  color: var(--strong-cyan);
  display: block;
  font-size: var(--text-xxl);
}



@media (hover:hover) {
  .button--reset--enabled:hover {
    cursor: pointer;
  }

  .button--reset:hover {
    background-color: var(--light-grayish-cyan-1);
    color: var(--very-dark-cyan);
    cursor: not-allowed;
  }

  .button--tip-percentage:hover {
    background-color: var(--light-grayish-cyan-1);
    color: var(--very-dark-cyan);
  }

}



@media (min-width: 1400px) {
  .card {
    max-width: 1200px;
    display: flex;
    gap: var(--space-md-plus);
  }

  .card__inputs {
    flex-basis: 50%;
  }

  .bill .input__warning-info,
  .number-of-people .input__warning-info {
    top: -33px;
  }

  .subcard:last-child {
    margin-bottom: 0;
  }

  .general-h2 {
    font-size: var(--text-xs);
  }

  h1 {
    padding-top: var(--space-xl);
    padding-bottom:  var(--space-xl);
  }

  .summary {
    flex-basis: 50%;
    padding: var(--space-lg);
    justify-content: space-between;
  }

  .summary__card {
    margin-bottom: var(--space-md);
  }

}
