.results__article {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: $space-md;
  gap: $space-md;
}


.results__subheader {
  color: $white;
  font-size: $text-xxs;
  font-weight: 700;
  opacity: 0.5;
}

.results__value {
  color: $strong-cyan;
  display: block;
  font-size: $text-xxl;
  margin-top: 0;
}



@media (min-width: 1400px) {

  .results__article {
    margin-bottom: $space-md;
  }

}
