@use '../../helpers' as *;

.results__article {

  /* Flexbox */
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: $space-sm;

  /* Spacing */
  margin-bottom: $space-md-plus;

}


.results__value {

  /* Color */
  color: $strong-cyan;

  /* Position */
  display: block;

  /* Font */
  font-size: $text-xl;
  line-height: 1.2;

  /* Spacing */
  margin-top: 0;
}


.results__currency{

  @include flex;
  flex-direction: column;
  gap: $space-md;
  display: none;
  justify-content: space-between;

}


@media (min-width: 700px) {

  .results__currency {
    flex-direction: row;
  }

}
