@use '../../helpers' as *;

.userData__article {
  position: relative;
  margin-bottom: $space-xl;
  animation-duration: 1s;
  animation-name: fadein;
}

@keyframes fadein {

  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }

}


@media (min-width: 1400px) {

  .userData__article:last-child {
    margin-bottom: 0;
  }


  .userData__article {
    position: relative;
    margin-bottom: $space-lg;
  }


}


.userData__inputArea {
  position: relative;
}


.userData__tipButtons {
  display: flex;
  gap: $space-md;
  flex-wrap: wrap;
}


.userData__article--currency {
  margin-bottom: 0;
}
