@use '../../helpers' as *;

.userData__article {
  position: relative;
  margin-bottom: $space-xl;
}

.userData__article--currency {
  margin-bottom: $space-sm;
}


.userData__inputArea {
  position: relative;
}


.userData__tipButtons {
  display: flex;
  gap: $space-md;
  flex-wrap: wrap;
}



@media (min-width: 1400px) {

  .userData__article:last-child {
    margin-bottom: 0;
  }


  .userData__article {
    position: relative;
    margin-bottom: $space-lg;
  }

}
