@use '../../helpers' as *;

.userData__article {
  position: relative;
  margin-bottom: $space-xl;

  &:nth-of-type(1){
    animation-duration: 1s;
    animation-name: fadein1;
  }

  &:nth-of-type(2){
    animation-duration: 2s;
    animation-name: fadein2;

  }

  &:nth-of-type(3){
    animation-duration: 3s;
    animation-name: fadein3;
  }

}


@keyframes fadein1 {

  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }

}



@keyframes fadein2 {

  from {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }

}

@keyframes fadein3 {

  from {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }

}


@media (min-width: 1400px) {

  .userData__article:last-child {
    margin-bottom: 0;
  }


  .userData__article {
    position: relative;
    margin-bottom: $space-lg;
  }


}


.userData__inputArea {
  position: relative;
}


.userData__tipButtons {
  display: flex;
  gap: $space-md;
  flex-wrap: wrap;
}


.userData__article--currency {
  margin-bottom: 0;
}
