@use '../helpers' as *;

.header {

  /* Color */
  color: $very-dark-cyan;
  opacity: 0.8;

  /* Font */
  font-size: $text-xs;
  font-weight: bold;

  /* Spacing */
  margin-bottom: $space-xs;

  /* Position */
  display: inline-block;

  &::selection {

    background-color: $very-dark-cyan;
    color: $white;

  }

}

.header--warningInfo {

  @include header;

  /* Color */
  color: $orange-warning;
  opacity: 1;

  /* Position */
  display: none;
  text-align: right;

  /* Sizing */
  position: absolute;
  width: 100%;

  /* Animation */
  transition: all 2000ms;

  &::selection {

    background-color: $orange-warning;
    color: $white;

  }

}


.header--results {

  @include header;

  /* Color */
  color: $white;
  opacity: 1;

  /* Spacing */
  margin-bottom: 0;

  &::selection {

    background-color: $white;
    color: $very-dark-cyan;

  }

}


.header--subheader {

  /* Color */
  opacity: 0.5;

  /* Font */
  font-size: $text-xxs;
  font-weight: 700;

}


.header--currency {

  /* Color */
  color: $white;

}


.header--currencyRate {

  display: none;

}


.header--extraInfoBillCurrency,
.header--extraInfoUserCurrency {

  /* Color */
  background-color: $light-grayish-cyan-2;
  color: $very-dark-cyan;
  opacity: 0;

  /* Font */
  font-size: $text-xxs;
  text-align: center;

  /* Spacing */
  padding: $space-xs;
  margin-left: 5px;

  /* Position */
  position: absolute;
  bottom: 88%;
  min-width: 135px;
  z-index: -1;

  /* Border */
  border-radius: $space-md $space-md $space-md 0;

  /* Other */
  transition: opacity 200ms;
  box-shadow: 0 0 10px 2px $dark-grayish-cyan-1;
}



@media (min-width: 500px){

  .header--extraInfoUserCurrency {
    transform: translateX(-115%);
    border-radius: $space-md $space-md 0 $space-md;
    margin-right: 5px;
  }

}

.article__bill .header--warningInfo,
.article__numberOfPeople .header--warningInfo {
  top: 96px;
}


.article__selectTip .header--warningInfo {
  margin-top: 7px;
}



@media (min-width: 1400px) {

  .article__bill .header--warningInfo,
  .article__numberOfPeople .header--warningInfo {
    top: 8px;
  }

}
