.card {
  background-color: $white;
  border-radius: $space-md;
  padding: $space-md-plus;
  max-width: 768px;
  margin: auto;
  box-shadow: 0 10px 10px  hsla(172, 67%, 45%, 0.3);
}

.card__summary {
  background-color: $very-dark-cyan;
  border-radius: $space-sm;
  padding: $space-md;
  display: flex;
  flex-direction: column;
}


@media (min-width: 1400px) {

  .card {
    max-width: 1200px;
    display: flex;
    gap: $space-md-plus;
  }

  .card__userData {
    flex-basis: 50%;
  }

  .card__summary {
    flex-basis: 50%;
    padding: $space-lg;
    justify-content: space-between;
  }

}
