@use '../helpers' as *;

.button {

  /* Font */
  font-family: inherit;
  font-weight: 700;

  /* Border */
  border: 0;
  border-radius: $space-xs;

  /* Spacing */
  padding: $space-sm;

  /* Position */
  text-align: center;

}


.button--tipButton {

  /* Color */
  background-color: $very-dark-cyan;
  color: $white;

  /* Flexbox */
  flex: 1 1 130px;

  /* Font */
  font-size: $text-md;

  /* Animation */
  transition: all 200ms;

}



.button--reset {

  /* Color */
  background-color: $white;
  color: $very-dark-cyan;
  opacity: 0.2;

  /* Sizing */
  width: 100%;

  /* Font */
  font-size: $text-sm;

  /* Spacing */
  margin-top: $space-md;

  /* Animation */
  transition: all 200ms;

}



.button--enabled {

  /* Color */
  background-color: $strong-cyan;
  color: $very-dark-cyan;
  opacity: 1;

  /* Cursor */
  cursor: pointer;

}



@media (hover:hover) {

  .button--reset:hover {
    background-color: $light-grayish-cyan-1;
    color: $very-dark-cyan;
    cursor: not-allowed;
  }

  .button--enabled:hover {
    cursor: pointer;
  }

  .button--tipButton:hover {
    background-color: $light-grayish-cyan-1;
    color: $very-dark-cyan;
  }

}
