.inputArea__input {
  border: none;
  background-color: $light-grayish-cyan-2;
  border-radius: $space-xs;
  width: 100%;
  height: $space-lg;
  font-family: inherit;
  padding: $space-sm;
  font-size: $text-md;
  font-weight: 700;
  color: $very-dark-cyan;
  text-align: right;
  -moz-appearance: textfield;
  margin: 0;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}


input:focus {
  outline: 3px solid $strong-cyan;
  background-color: $light-grayish-cyan-2;
  transition: all 200ms;
}


input::placeholder {
  opacity: 0.2;
}


.input--warning {
  outline: 3px solid $orange-warning;
}


.inputArea__icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: $space-sm;
}


.tipButtons__input {
  flex: 1 1 130px;
  background-color: $light-grayish-cyan-2;
  color: $very-dark-cyan;
  width: inherit;
  min-width: 0;
  font-size: $text-md;
  transition: all 200ms;
}
