@use '../helpers' as *;

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=number]{
  -moz-appearance: textfield;
}


input:focus {

  /* Color */
  background-color: $light-grayish-cyan-2;

  /* Border */
  outline: 3px solid $strong-cyan;

  /* Animation */
  transition: all 200ms;
}


input:invalid {
  outline: 3px solid $orange-warning;
}


input::placeholder {
  opacity: 0.2;
}


.inputArea__input {

  /* Color */
  background-color: $light-grayish-cyan-2;
  color: $very-dark-cyan;

  /* Font */
  font-family: inherit;
  font-size: $text-md;
  font-weight: 700;

  /* Sizing */
  width: 100%;
  height: $space-lg;

  /* Spacing */
  padding: $space-sm;
  margin: 0;

  /* Border */
  border: none;
  border-radius: $space-xs;

  /* Position */
  text-align: right;
}


.inputArea__icon {

  /* Position */
  position: absolute;
  top: 50%;
  left: $space-sm;
  transform: translateY(-50%);

  /* Color */
  color: $dark-grayish-cyan-2;
  opacity: 0.7;

}
